<%= form_for @restaurant, :html => {:multipart => true }, data: { validate: "parsley" }, role: "form" do |f| %>
  
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, data: { required: "true" }, class: "form-control", placeholder: "Brent's Restaurant" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control", placeholder: "Hot food and cold beer..." %>
  </div>

  <div class="form-group">
    <%= f.label :street %>
    <%= f.text_field :street, class: "form-control", placeholder: "123 Third Street" %>
  </div>

  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, class: "form-control", placeholder: "Boston" %>
  </div>

  <div class="form-group">
    <%= f.label :state %> 
    <%= f.text_field :state, class: "form-control", placeholder: "MA" %>
  </div>

  <div class="form-group">
    <%= f.label :zip, "Zip Code" %>
    <%= f.text_field :zip, class: "form-control", placeholder: "02141" %>
  </div>

  <div class="form-group">
    <%= f.label :phone, "Phone Number" %>
    <%= f.text_field :phone, class: "form-control", placeholder: "123-456-7890" %>
  </div>

  <div class="form-group">
    <%= f.label :photo %>
    <%= f.file_field :photo, class: "form-control uploader" %>
  </div>

  <div class="form-group">
    <%= f.label :menu %>
    <%= f.file_field :menu, class: "form-control uploader" %>
  </div>

  <%= f.submit "Submit", class: "btn btn-default" %>

<% end %>