<% provide(:title, @restaurant.name) %>

<% if current_user?(@restaurant.user) %>
  <ul class="restaurant-edit">
    <li><%= link_to "Edit Restaurant", edit_restaurant_path %></li>
    <li><%= link_to "Delete Restaurant", @restaurant, method: :delete,
         data: { confirm: "Are you sure?" }, title: @restaurant.name %></li>
  </ul>
<% end %>

<h1><%= @restaurant.name %></h1>
<h5>Owned by <%= @restaurant.user.full_name %></h5>
<div>
  <p class="restaurant-description col-md-4"><%= @restaurant.description %></p>
  <div class="col-md-4">
    <%= image_tag @restaurant.photo_url, alt: "#{@restaurant.name}-photo", class: "restaurant-photo" %>
  </div>
  <div class="col-md-4">
    <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{full_address(@restaurant)}&zoom=16&size=400x400\
      &markers=color:blue%7C#{full_address(@restaurant)}&sensor=false", class: "map" %>
  </div>
</div>

<%= link_to 'Download Menu', @restaurant.menu_url, target: "_blank" unless @restaurant.menu_url.nil? %>

<%= render 'reservations/reservation_form' unless current_user?(@restaurant.user) %>

<%= render 'reservations/reservation_table' if current_user?(@restaurant.user) %>