<% provide(:title, @restaurant.name) %>

<h1><%= @restaurant.name %></h1>
<h3>Owner: <%= @restaurant.user.full_name %></h3>
<p><%= @restaurant.description %></p>
<%= image_tag @restaurant.photo_url %>
<%= link_to 'Download Menu', @restaurant.menu_url, target: "_blank" unless @restaurant.menu_url.nil? %>
<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{full_address(@restaurant)}&zoom=16&size=400x400\
&markers=color:blue%7C#{full_address(@restaurant)}&sensor=false" %>

<% if current_user?(@restaurant.user) %>
  <%= link_to "Edit Restaurant", edit_restaurant_path %>
  <%= link_to "Delete Restaurant", @restaurant, method: :delete,
       data: { confirm: "Are you sure?" }, title: @restaurant.name %>
<% end %>

<% if current_user?(@restaurant.user) && !@restaurant.reservations.empty? %>
  <table class="table">
    <tr>
      <th>Time</th>
      <th>Email</th>
      <th>Comments</th>
      <th></th>
    </tr>
    <% @restaurant.reservations.each do |reservation| %>
      <% unless reservation.time.nil? %>
        <tr>
          <td><%= reservation.time %></td>
          <td><%= reservation.email %></td>
          <td><%= reservation.comment %></td>
          <td><%= link_to "Marked as confirmed", ([@restaurant, reservation]), method: :delete, data: { confirm: "Are you sure?" } %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>

<%= form_for([@restaurant, @reservation]) do |f| %>

  <%= f.label :time %>
  <%= f.date_select :time, ignore_time: true %>
  <%= f.time_select :time %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :comment %>
  <%= f.text_area :comment %>

  <%= f.submit "Submit", class: "btn btn-large btn-primary" %>

<% end %>



<%= link_to "Back to Restaurants", restaurants_path %>