<header>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <%= link_to "Reservester", restaurants_path, class: "navbar-brand navbar-left" %>
      <p class="navbar-text navbar-right">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="user-indicator"><%= current_user.full_name %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Dashboard", root_path %>
                <li><%= link_to 'Edit user info', edit_user_registration_path %></li>
                <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
              </ul>
          <% else %>
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
            <li><%= link_to 'Sign in', new_user_session_path %></li>
          <% end %>
        </ul>
      </p>
    </div>
  </nav>
</header>